<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Fast Development</h5>

          <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, eligendi animi. Quia, ea id. Rem aperiam inventore tenetur corporis exercitationem ipsa accusamus consectetur repellendus enim! Ullam pariatur at possimus rem.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ipsam alias fuga minima maxime eum labore. Nesciunt dicta repellat fugit magnam soluta nisi enim, possimus provident voluptates ad. Voluptates, quos.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, assumenda. Ullam vel labore maxime sunt a ipsa excepturi tenetur id praesentium cumque distinctio minima voluptatibus vero, quam sint facilis temporibus!</p>
        </div>
      </div>
    </div>

  </div>
</div>
